<div class="logo-shopping">
  <img src="../../assets/logo.png" alt="logo" class="logo">
  <div class="buttons">
    <button mat-icon-button class="home" (click)="toHome()" title="Home Page">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="home" (click)="toSL()" title="Shopping List">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button class="home" title="Liked Recipes" (click)="toLikes()">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
</div>
<header>
  <div class="row">
    <form (ngSubmit)="onSubmit()" [formGroup]="searchForm">
      <input type="text" class="search-bar" placeholder="search for recipes..."
      name="foodItem"
      formControlName="foodItem"
      #foodSearchItem>
      <button class="btn" type="submit">Search</button>
    </form>
    <app-alert [message]="errorMessage" *ngIf="errorMessage" (close)="onHandleError()"></app-alert>

  </div>
  <div class="row">
    <h4>(Search from <button class="btn-show" (click)="displayQueries()"><i>this</i>
     </button> list of foods.)</h4>
  </div>
  <app-queries *ngIf="queryDisplayed"
  (close)="handleClose()"></app-queries>
</header>
<router-outlet></router-outlet>



