<div class="bg">
  <div class="text-box">
    <div class="logo-shopping">
      <img src="../../assets/logo.png" alt="logo" class="logo">
      <div class="btns">
        <button mat-icon-button class="shopping-list" (click)="toShoppingList()" title="shopping list">
          <mat-icon [inline]="true">shopping_cart</mat-icon>
        </button>
        <button mat-icon-button class="like-btn" title="Liked Recipes" (click)="toLikes()">
          <mat-icon [inline]="true">favorite</mat-icon>
        </button>
      </div>
    </div>
    <h1 class=" animate__animated animate__fadeInLeft">FORKIFY APP</h1>
    <h3 class=" animate__animated animate__fadeInLeft">Search for Hundreds of Food Recipes in One Place</h3>
    <button class="btn btn-big
    animate__animated animate__pulse" (click)="toSearch()">Start Exploring!</button>
  </div>
</div>
