<div class="wrapper">
<div class="logo-shopping">
  <img src="../../assets/logo.png" alt="logo" class="logo">
  <div class="btns">
    <button mat-icon-button class="home" (click)="toHome()" title="Home Page">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="like-btn" title="Liked Recipes" (click)="toLikes()">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
</div>
  <div class="title">
    <h1>Shopping List</h1>
  </div>

<app-shopping-edit></app-shopping-edit>

  <ul class="shopping-items">
    <a class="shopping-item" style="cursor: pointer;" *ngFor="let ing of ingredients; let i = index"
    (click)="onEditItem(i)">
    {{i+1}} - {{ing.ingredient}}  ({{ing.count}}  {{ing.unit}})
    </a>

  </ul>

</div>

