.recipe-item{
  width:100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-bottom: 1px solid rgb(197, 197, 197);
  padding-top: 2%;
  text-decoration: none;
  color:black
}

.recipe-item:hover{
  background-color: rgb(231, 230, 230);
}

.item-pic{
  width:4.5vw;
  height: 4.5vw;
  border-radius: 50%;
  display: inline;
  margin: 5%;
}

span{
  display: grid;
  grid-template-rows: 0.8fr 1.2fr;
}

.name{
  color:#5b2975;
  font-size: 1.2vw;
}

.active{
   background-color: rgb(231, 230, 230);
}

h3{font-size: 1.3vw;}
h5{font-size: 0.99vw;}
