.input-fields{
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  margin-left: 3%;
  color: rgb(255, 255, 255);
  margin-right: 2%;
}

.ingredient{
  margin-right: 1%;
  width: 21.9vw;
  outline:  rgb(41, 180, 214);
  padding:0.36vw;
  font-size: 1.3vw;
}


.buttons{
  margin-top: 3%;
  margin-left: 8%;
}

.btn{
  width: 5.84vw;
  padding:.58vw;
  font-size: 1.3vw;
  border-radius: 5%;
  margin-right: 2%;
  border-radius: 5%;
  transition: background-color 0.8s, color 0.8s;
  outline: none;
}

.btn:hover{
  color: antiquewhite;
}


.btn-add{background-color: rgb(63, 161, 63);}
.btn-add:hover{background-color:  rgb(50, 128, 50);}
.btn-clear{background-color: rgb(48, 211, 252);}
.btn-clear:hover{background-color: rgb(41, 180, 214);}
.btn-remove{background-color: rgb(255, 132, 132);}
.btn-remove:hover{background-color: rgb(211, 109, 109);}

label{
  margin-right: 1%;
  margin-left: 1%;
  font-size: 1.3vw;
}

.amount{
  width: 5%;
}

.unit{
  margin-right: 1%;
}
